@font-face {
    /* 사용할 폰트의 이름 */
    font-family: "APPLESDGOTHICNEO";
    font-display: fallback;
    src: url("./APPLESDGOTHICNEO.TTF") format("truetype"), url("./APPLESDGOTHICNEO.woff") format("woff"), url("./APPLESDGOTHICNEO.eot?iefix") format("embedded-opentype");
    font-weight: 400;
    font-style: normal;
}